@import url("https://4feuilles.org/css/normalize.css");
html{
	font-size: 1.95rem;
	font-family: 'Roboto', sans-serif;
}

body {
    
    background: #1d1f21;
    color: #ffffff;
    margin: 5px;
    background-image: url(https://4feuilles.org/css/background.png);
    background-position: center center;
    background-repeat: repeat;

}

a {
    background: inherit;
    color: #6ac6fc;
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    background: inherit;
    color: #6ac6fc;
    text-decoration: underline;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color:rgba(0, 0, 0, .7);
    border: hidden;
    color: #6ac6fc;
    padding: 4px 4px;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 2px;

}

.show {
        display: block !important;
}

#mobile-cacher {
	display: none;
    list-style-type: none;
	padding: 0;
}


.menu-normal{
display: none;
}

a:hover,
.admddel,
.admbban,
.admppost,
.admaacc {
    color: #6ac6fc !important;
    background: inherit;
    text-decoration: underline;
}

.reflink,
.reflink:visited {
    color: #EF4135;
    text-decoration: none;
}

.showboards{
    display: inline-block;
    float: none;
    border-color: #777777;
    border-style: solid;
    border-width: 4px;
    text-align: left;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 1.875rem;
    vertical-align: top;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .7);
	width: 90%;
}

.menu-mobile {
        display: block;
        font-size: 40px;
        text-align: center;
}

.boardstitle {
    background-color: #777777;
}

.boardslistesfw {
    background-color: #6ac6fc;
	color: black;
	padding-left: 1rem;
}


img {
    margin: 4px 0.625rem 0.625rem 0.625rem;
    border: 0;
    float: left;
    clear: none;
}

hr{
    
    background-color: #EF4135;
    height: 1px;
    border: none;
    
}


td {
    text-align: left;
}

.adminbar,.styles {
display: none;
}

.logo {
    clear: both;
    text-align: center;
    background: inherit;
    padding-top: 1rem;
    color: #6ac6fc;
	font-size: 2rem;
}

.logo img {
    margin: 0 auto;
    clear: both;
    float: none;
}

.theader {
    background: #0010E0;
    color: #FFFFFF;
}

.postarea {
    background: inherit;
}

.rules {

}

.postblocktitle {
    background: rgba(0, 0, 0 ,.8);
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    border-bottom: 2px solid #cc1105 padding: 1.25rem;
}

.postblock {
    background: rgba(0, 0, 0 ,.8);
    color: #ffffff;
    font-weight: 800;
    border-radius: 5px;
    padding: 5px;
}

.footer {
    text-align: center;
    margin-top: 45px;
}

.passvalid {
    background: rgba(0, 0, 0 ,.8);
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.dellist {
    background: inherit;
    text-align: center;
}

.delbuttons {
    background: inherit;
    text-align: center;
    padding-bottom: 4px;
}

.managehead {
    background: #0F8FE1;
    color: #800000;
    padding: 0px;
}

.postlists {
    background: #FFFFFF;
    padding: 0px;
    color: #800000;
}

.row1 {
    background: #9AD2F6;
    color: #800000;
}

.row2 {
    background: #FFFFFF;
    color: #800000;
}

.unkfunc {
    background: inert;
    color: #6ef9ff;
}

.filesize {
    text-decoration: none;
    padding-right: 0.625rem;
    margin-left: 0.625rem;
}

.filetitle {
    background: inherit;
    color: #6ac6fc !important;
    font-weight: 800;
}

.postername,.commentpostername {
    background: inherit;
    color: #6ac6fc;
    font-weight: 800;
}

.oldpost {
    background: inherit;
    color: #CC1105;
    font-weight: 800;
}

.omittedposts {
    background: inherit;
    font-size: 1rem;
    color: #cacaca;
    font-weight: 800;
    margin-left: 1.875rem;
}

.reply {
    background: rgba(0, 0, 0 ,.8);
    min-width: 500px;
    border-radius: 5px;
    padding: 5px;
}

.doubledash {
    vertical-align: top;
    clear: both;
    float: left;
}

.replytitle {
    background: inherit;
    color: #CC1105;
    font-weight: 800;
}

.thumbnailmsg {
    background: inherit;
    color: #800000;
    padding-right: 5px;
}

.leftclear {
    clear: left;
}

.allclear {
    clear: all;
}

.nowrap {
    white-space: nowrap;
}

.centered {
    text-align: center;
}

.boardlist {
    text-align: center;
}

.lefted {
    text-align: left;
}

.righted {
    text-align: right;
    float: right;
}

.manabuttons {
    text-align: center;
    padding-top: 6px;
}

.catthread {
    display: inline-block;
    float: none;
    max-height: 41.25rem;
    width: 455px;
    height: 350px;
    border-color: rgba(0, 0, 0 ,.8);
    border-style: solid;
    border-width: 2px;
    text-align: center;
    padding-top: 1.125rem;
    vertical-align: top;
    margin: 3px;
    border-radius: 5px;

}

.cata {
    text-decoration: none !important;
    color: #ffffff !important;
}

.catthumb {
    /* max-width: 160px; */
    /* max-height: 160px; */
    width: auto;
    height: 300px;
}

.cattitle,
.cattitle:hover {
    text-decoration: none;
}

.catcont {
    word-wrap: break-word;
}

.catthread img {
    max-height: 44%;
    max-width: 99%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}

.cattable {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

#errormsg {
    color: red;
    text-align: center;
}

